<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nugget</title>
    <link rel="stylesheet" href="">
</head>

<body>
    
    <form method="get" action="/nuggets">
        <button type="submit">Get my nuggets!</button>
    </form>
    
    <% nuggets.forEach(function(nugget) {%>
        <h2><%=nugget.title%></h2>
    <p><%=nugget.content%></p>
    <p><%=nugget.example%></p>
    <%})%>
    
    
</body>
</html>
